version: '2'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    expose:
      - 2181
    hostname: "zookeeper"

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    expose:
      - 9092
    hostname: "kafka"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  listar_livros01:
    image: listar_livros01
    container_name: listar_livros01
    build: .
    depends_on:
      - kafka
    hostname: "listar_livros01"
    volumes:
      - "./servicos/listar_livros01:/workdir"
    command: python3 /workdir/servico.py

  simular_reservas02:
    image: simular_reservas02
    container_name: simular_reservas02
    build: .  
    depends_on:
      - kafka
    ports:
      - "5002:5000"
    hostname: "simular_reservas02"
    volumes:
      - "./servicos/simular_reservas02:/workdir"
    command: python3 /workdir/servico.py 

  atualizar_status03:
    image: atualizar_status03
    container_name: atualizar_status03
    build: .
    depends_on:
      - kafka
    hostname: "atualizar_status03"
    volumes:
      - "./servicos/atualizar_status03:/workdir"
    command: python3 /workdir/servico.py

  sugestao_livro04:
    image: sugestao_livro04
    container_name: sugestao_livro04
    build: .
    depends_on:
      - kafka
    hostname: "sugestao_livro04"
    volumes:
      - "./servicos/sugestao_livro04:/workdir"
    command: python3 /workdir/servico.py

